In [3]:
import pandas as pd
import sqlite3

# read from sql db file
con = sqlite3.connect('object_detection_data.db')
df = pd.read_sql_query("SELECT * from object_detection_data", con)
df.head()

,filename,x1,y1,x2,y2,object_type,probability,latitude,longitude
0,DJI_0023.jpg,1281.050457,1576.639168,1444.664574,1730.480217,0,0.829371,10.895792,106.695335
1,DJI_0023.jpg,1469.445898,1524.698593,1561.308655,1604.797379,0,0.663810,10.895792,106.695335
2,DJI_0023.jpg,2804.610578,1271.926487,2861.741454,1326.729183,0,0.663732,10.895792,106.695335
3,DJI_0023.jpg,2895.964867,1975.481651,2959.472582,2023.392982,0,0.610429,10.895792,106.695335
4,DJI_0023.jpg,3941.630701,2213.225060,3990.508077,2267.874428,0,0.578110,10.895792,106.695335